<mat-card>
    Ingrese los datos del paciente
  </mat-card>
  
  <form class="example-container" [formGroup]="form" #frmCliente="ngForm" (ngSubmit)="operar()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Cedula" required formControlName='cedula'>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre" required formControlName='nombre'>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="frmCliente.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
  
    <button mat-raised-button color="accent" type="button" routerLink="">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  
  </form>